<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head}"></head>
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <!-- HEADER -->
        <div class="row border-bottom white-bg" th:replace="~{csp/view :: navbar}"></div>
        <!-- BODY: -->
        <div class="wrapper wrapper-content">
            <div class="row" sec:authorize="hasRole('ADMIN')">
                <div class="col-md-4 portal-button">
                    <a th:href="@{/csp/add}" class="btn btn-block btn-lg btn-success">NEW CSP</a>
                </div>
            </div>
            <div class="ibox-title">
                <h1 class="text-center" >Content Service Providers list</h1>
                <div th:if="${message}">
                    <div th:text="${message}" class="alert alert-success">Success message</div>
                </div>
                <div th:if="${error}">
                    <div th:text="${error}" class="alert alert-danger">Success message</div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTable-actions">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Created at</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="csp : ${csps}">
                                <td th:text="${csp.id}"></td>
                                <td th:text="${csp.name}"></td>
                                <td th:text="${csp.createdAt}"></td>
                                <td>
                                    <div class="text-center">
                                        <a th:href="@{'/csp/view/' + ${csp.id}}" title="View" class="btn btn-sm btn-default btn-icon fa fa-eye"></a>
                                        <a sec:authorize="hasRole('ADMIN')" th:href="@{'/csp/edit/' + ${csp.id}}" title="Edit" class="btn btn-sm btn-primary btn-icon fa fa-pencil-square-o"></a>
                                        <a sec:authorize="hasRole('ADMIN')" th:href="@{'/csp/delete/' + ${csp.id}}" title="Delete" class="btn btn-sm btn-danger btn-icon fa fa-trash-o"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BODY -->
        <!-- FOOTER -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: js}"></div>
</body>
</html>