<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head}"></head>
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <!-- HEADER -->
        <div class="row border-bottom white-bg" th:fragment="navbar">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a th:href="@{/}" class="navbar-brand">HOME</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li sec:authorize="hasRole('ADMIN')">
                            <a aria-expanded="false" role="button" th:href="@{/user}">USERS</a>
                        </li>
                        <li th:each="csp : ${csps}">
                            <a th:href="@{'/csp/view/' + ${csp.id}}" th:text="@{${#strings.toUpperCase(csp.name)}}"  aria-expanded="false" role="button"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li  th:inline="text">
                            [[${#httpServletRequest.remoteUser}]]
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fa fa-sign-out">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- BODY: -->
        <div class="wrapper wrapper-content">
            <div class="row" sec:authorize="hasRole('ADMIN')">
                <div class="col-md-4 portal-button">
                    <a th:href="@{/csp/add}" class="btn btn-block btn-lg btn-success">NEW CSP</a>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h1 class="text-center" th:text="${csp.name}"></h1>
                        <div th:if="${message}">
                            <div th:text="${message}" class="alert alert-success">Success message</div>
                        </div>
                        <div th:if="${error}">
                            <div th:text="${error}" class="alert alert-danger">Error message</div>
                        </div>
                    </div>
                    <div class="ibox-content" sec:authorize="hasRole('ADMIN')" >
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTable-actions">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td th:text="${csp.id}"></td>
                                    </tr>
                                    <tr >
                                        <th>Name</th>
                                        <td th:text="${csp.name}"></td>
                                    </tr>
                                    <tr>
                                        <th>Created at</th>
                                        <td th:text="${csp.createdAt}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" sec:authorize="hasRole('ADMIN')">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h2>Add link</h2>
                    </div>
                    <div class="ibox-content"  style="position: relative;">
                        <div class="col-lg-12">
                            <div class="row">
                                <form action="#" class="form-horizontal">
                                    <div id="addlinks" class="col-md-1 btn btn-primary m-b-0 mx-auto">
                                        Add
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group bootstrap-touchspin">
                                            <input class="touchspin3" id="addlinkfield" type="text" value="1"  name="demo3" style="display: block;">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div id="links">
                                            <div class="form-group"><input id="link1" type="text" placeholder="link1" class="link-input form-control"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h2 class="text-center" th:text="Links"></h2>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <!-- table for admin -->
                            <style>
                                .custom{
                                    font-size: 10px;
                                },
                                .bottomcustom, .topcustom {
                                    font-size: 10px;
                                }
                            </style>
                            <table id="linksDatatable" sec:authorize="hasRole('ADMIN')" class="table table-striped table-bordered table-hover custom">
                                <thead>

                                <tr>
                                    <th style="font-size: 20px;" >Id</th>
                                    <th>Url</th>
                                    <th>Created at</th>
                                    <th>Active</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ln : ${links}">
                                    <td th:text="${ln.id}"></td>
                                    <td><a th:href="@{${ln.url}}" th:text="${ln.url}" class="mylink"></a></td>
                                    <td th:text="${ln.createdAt}" sec:authorize="hasRole('ADMIN')"></td>
                                    <th th:text="${ln.active} ? 'true' : 'false'" th:class="${ln.active} ? 'text-success' : 'text-danger'"></th>
                                    <td>
                                        <div class="text-center">
                                            <a th:href="@{'/csp/' + ${csp.id} + '/link/change/' + ${ln.id}}" title="Change status" class="btn btn-sm btn-primary btn-icon fa fa-pencil-square-o"></a>
                                            <a th:href="@{'/csp/' + ${csp.id} + '/link/delete/' + ${ln.id}}" title="Delete" class="btn btn-sm btn-danger btn-icon fa fa-trash-o"></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- table for user -->
                            <style>
                                .custom{
                                    font-size: 20px;
                                },
                                .bottomcustom, .topcustom {
                                    font-size: 15px;
                                }
                            </style>
                            <table id="linksDatatable" sec:authorize="hasRole('USER')" class="table table-striped table-bordered table-hover custom">
                                <thead>
                                <tr>
                                    <th>Url</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ln : ${links}">
                                    <td><a th:href="@{${ln.url}}" th:text="${ln.url}" class="mylink"></a></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        <!-- END BODY -->
        <div th:replace="~{fragments/footer :: js}"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function(){
                $('#linksDatatable').DataTable({
                    pageLength: 50,
                    responsive: true,
                    "dom": '<"topcustom"lfr>t<"bottomcustom"ip>'
                });

                $(".touchspin3").TouchSpin({
                    min: 1,
                    max: 20,
                    verticalbuttons: true,
                    buttondown_class: 'btn btn-white',
                    buttonup_class: 'btn btn-white'
                });

                $("input#addlinkfield").change(function () {
                    var inputValue = $("input#addlinkfield").val();
                    inputValue++;
                    var ln = $("input#link" + inputValue);
                    if(ln.length){
                        ln.remove();
                    } else {
                        inputValue--;
                        var linkHtml = '<div  class="form-group"><input id="link' + inputValue + '" type="text" placeholder="link' + inputValue + '" class="link-input form-control"></div>';
                        $("#links").append(linkHtml);
                    }
                });

                $(".mylink").click( function () {

                    var link = JSON.stringify($(this).html());
                    console.log(link);

                    if(link) {
                        $.ajax({
                            data: link,
                            type: "POST",
                            url: "/click/save",
                            crossDomain: true,
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {},
                            error: function (result) {}
                        });
                    }
                });

                $("#addlinks").click(function (e) {
                    var lls = [];
                    $("input.link-input").each(function () {
                        if($(this).val())
                            lls.push({
                                "url":$(this).val()
                            });
                    });

                    var toSend = JSON.stringify(lls);

                    if (toSend) {
                        console.log(toSend);
                        $.ajax({
                            data: toSend,
                            type: "POST",
                            url: "/link/add/" + [[${csp.id}]],
                            dataType : "json",
                            contentType: "application/json; charset=utf-8",
                            success: function () {
                                location.reload();
                            },
                            error: function (result) {
                                alert("Can't save links!")
                            }
                        });
                    } else {
                        alert("Data is empty!");
                    }

                });

                });
            /*]]>*/
        </script>

        <!-- FOOTER -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
</body>
</html>