<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <!-- HEADER -->
        <div th:replace="~{fragments/header :: navbar}"></div>
        <!-- BODY: -->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-4 portal-button">
                    <a th:href="@{/user/add}" class="btn btn-block btn-lg btn-success">NEW CSP</a>
                </div>
            </div>
            <div class="ibox-title">
                <h1 class="text-center" th:text="${csp.name}"></h1>
                <div th:if="${message}">
                    <div th:text="${message}" class="alert alert-success">Success message</div>
                </div>
                <div th:if="${error}">
                    <div th:text="${error}" class="alert alert-danger">Error message</div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTable-actions">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td th:text="${csp.id}"></td>
                            </tr>
                            <tr >
                                <th>Name</th>
                                <td th:text="${csp.name}"></td>
                            </tr>
                            <tr>
                                <th>Created at</th>
                                <td th:text="${csp.createdAt}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="ibox-title">
                <h1 class="text-center" th:text="Links"></h1>
                <div th:if="${linkmessage}">
                    <div th:text="${linkmessage}" class="alert alert-success">Success message</div>
                </div>
                <div th:if="${linkerror}">
                    <div th:text="${linkerror}" class="alert alert-danger">Error message</div>
                </div>
            </div>
            <div class="ibox-content">
                <form class="form-inline" th:action="@{'/csp/add/link/' + ${csp.id}}" th:object="${link}" >
                    <div class="form-group col-sm-4">
                        <label for="url1">Email</label>
                        <input id="url1" type="text" placeholder="url" th:field="*{url}" class="form-control">
                        <span th:if="${#fields.hasErrors('url')}" th:errors="*{url}" th:class="help-block"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="form-check">
                            <label class="form-check-label" for="status1">
                                Status
                            </label>
                            <input class="form-check-input" type="checkbox" th:default="1" id="status1">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"></button>
                </form>
            </div>
        </div>
        <!-- END BODY -->
        <!-- FOOTER -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: js}"></div>
</body>
</html>