<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head}"></head>
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <!-- HEADER -->
        <div th:replace="~{fragments/header :: navbar}"></div>
        <!-- BODY: -->
        <div class="wrapper wrapper-content">
            <div class="row" sec:authorize="hasRole('ADMIN')">
                <div class="col-md-4 portal-button">
                    <a th:href="@{/user/add}" class="btn btn-block btn-lg btn-success">NEW USER</a>
                </div>
            </div>
            <div class="ibox-title">
                <h1 class="text-center" th:text="${user.name}"></h1>
                <div th:if="${message}">
                    <div th:text="${message}" class="alert alert-success">Success message</div>
                </div>
                <div th:if="${error}">
                    <div th:text="${error}" class="alert alert-danger">Success message</div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTable-actions">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td th:text="${user.id}"></td>
                            </tr>
                            <tr >
                                <th>Name</th>
                                <td th:text="${user.name}"></td>
                            </tr>
                            <tr >
                                <th>Password</th>
                                <td th:text="${user.password}"></td>
                            </tr>
                            <tr >
                                <th>Active</th>
                                <td th:text="${user.active} ? 'true' : 'false'"></td>
                            </tr>
                            <tr>
                                <th>Created at</th>
                                <td th:text="${user.createdAt}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ibox-content" sec:authorize="hasRole('ADMIN')">
                
                <div class="row">
                    <!-- form with all csps -->
                    <div class="col-md-6">
                        <div th:each="notUserCsp : ${notUserCsps}" class="m-l m-b">
                            <a class="btn btn-success m-r"  th:href="@{'/user/' + ${user.id} + '/add/csp/' + ${notUserCsp.id}}">
                                Add
                            </a>&nbsp;
                            <label th:text="${notUserCsp.name}" ></label>
                        </div>
                    </div>
                    <!-- users csps -->
                    <div class="col-md-6">
                        <div th:each="uscsp : ${userCsps}" class="m-l m-b">
                            <a class="btn btn-danger m-r"  th:href="@{'/user/' + ${user.id} + '/remove/csp/' + ${uscsp.id}}">
                                Remove
                            </a>&nbsp;
                            <label th:text="${uscsp.name}"></label>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTable-actions">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Msisdn</th>
                            <th>Created at</th>
                            <th>Parameters</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="lg : ${logs}">
                            <td th:text="${lg.id}"></td>
                            <td th:text="${lg.msisdn}"></td>
                            <td th:text="${lg.created_at}"></td>
                            <td th:text="${lg.parameters}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BODY -->
        <!-- FOOTER -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: js}"></div>
</body>
</html>