<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="footer" class="footer">
    <div>
        <strong>Copyright:</strong> Pure Bros Mobile spa Zucchetti group spa @ 2018
    </div>
</div>

<div th:fragment="js">
    <!-- Mainly scripts -->
    <script th:src="@{/assets/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/assets/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/assets/js/inspinia.js}"></script>
    <script th:src="@{/assets/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
</div>
</body>
</html>

