<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">

</head>
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation" th:replace="~{fragments/header :: header}"></nav>
        </div>
        <div class="wrapper content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                        <h1>Welcome!</h1>

                        <p>Click <a th:href="@{/welcome}">here</a> to see a greeting.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <div th:replace="~{fragments/footer :: js}"></div>
</body>
</html>